{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'create-project' %}" method="POST" >
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="name"
                name="name"
                maxlength="20"
                >
            </div>
            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="description"
                name="description"
                maxlength=190
                >
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Create Project</button>
            </div>
        </div>
    </form>
{% endblock %}


