
{% extends 'base.html' %}

{% block content %}
    <span>
    <h1>Project listing</h1>
    <h2><a href="{% url 'create-project' %}"> Add new project</a></h2>
    </span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>

        </thead>
        <tbody>
            {% for each in projects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ each.name }}</td>
                    <td>{{ each.description }}</td>
                    <td>Delete </td>
                </tr>
            {% endfor %}
        </tbody>
        <!-- <caption>List of projects</caption> -->
    </table>

{% endblock %}
