
{% extends 'base.html' %}

{% block content %}
    <div class="row pb-3">
        <div class="col-sm-6 h2">All Projects</div>

        <div class="col-sm-6">
            <p class="text-right h2"><a href="{% url 'create-project' %}" style="color: green"> Add new project</a></p>
        </div>
    </div>

    <!-- Project listing  -->
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col"style="width: 30%" class="text-center">Name</th>
                <th scope="col"style="width: 40%" class="text-center">Description</th>
                <th scope="col"style="width: 20%" class="text-center">Created at</th>
            </tr>

        </thead>
        <tbody>
            {% for each in projects %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">
                        <a href="{% url 'detail-project' each.id %}" style='text-decoration: None'> {{ each.name }} </a></td>
                    <td class="text-center">{{ each.description|slice:":50" }}</td>
                    <td class="text-center">{{ each.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
