{% extends 'base.html' %}

{% block content %}
    <h3>Create New Task for Project {{ id }}</h3>
    <form action="{% url 'create-task' id %}" method="POST" >
        {% csrf_token %}
        <div class="form-row">

            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="name"
                name="name"
                maxlength="20"
                >
            </div>
            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="description"
                name="description"
                maxlength=190
                >
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Create Task</button>
            </div>
        </div>
    </form>
{% endblock %}


