{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8 h2">
        <h1 style="color: #c9126e">
            Task: <a href="{% url 'detail-task' project_id id %}">{{ name|title }}</a>

        </h1>
    </div>

    <div class="col-sm-4">
        <div class="row h5">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <p class="text-right">
                    <a href="{% url 'edit-task' project_id id %}" class="btn btn-outline-primary btn">Edit</a>
                </p>
            </div>
            <div class="col-sm-4 ">
                <p class="text-left ">
                    <a href="{% url 'delete-task' project_id id %}" class="btn btn-outline-danger">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-8">
        <h3><span>Description:</span></h3>
        {{ description }}
    </div>
</div>

{% endblock %}
