{% extends 'base.html' %}
{% block content %}
    <h2>Edit Task: {{ name }}</h2>
    <form action="{% url 'edit-task' project_id=project_id task_id=id %}" method="POST" >
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="name"
                name="name"
                maxlength="20"
                value="{{ name }}"
                >
            </div>
            <div class="col">
                <input type="text"
                class="form-control"
                placeholder="description"
                name="description"
                maxlength=190
                value="{{ description }}"

                >
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary">Save Task</button>
                <button class="btn btn-outline-danger">
                    <a href="{% url 'delete-task' project_id id %}">Delete</a>
                </button>
            </div>
        </div>
    </form>


{% endblock %}
